<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carreira</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>

<!--NAVBAR-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">André Cordeiro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/posts">Posts<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/carreira">Carreira<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sobremim">Sobre mim<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>


<!--breadcrumb-->
<div class="container" style="60%; padding-bottom:30px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
            <li class="breadcrumb-item active" aria-current="page">Carreira</li>
        </ol>
    </nav>


<!--CARDS-->

            <div class="card shadow-sm bg-white rounded "th:each="work : ${works}" style="margin-top:20px">
                <div class="card-body">


<!--                    TITULO DO CARD-->
                    <a th:href="${(#mvc.url('WC#getCarreiraDetails').arg(0,work.id)).build()}">
                        <h5 class="card-title text-dark">
                            <span th:text="${work.titulo}" style="font-weight: bold; color: black; padding-top: 5px;"></span><span class="material-icons" th:text="${work.icon}"></span>
                        </h5>
                    </a>

<!--                    TEXTO DO CARD-->
                    <p class="card-text" >
                        <span th:utext="${#strings.abbreviate(work.texto, 400)}"></span>
                    </p>

                </div>
            </div>
    </div>
</div>

</div>
</body>
</html>