<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>:(</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script></head>
</head>
<body>

<div class="text-center" style="margin-top: 50px">
    <h1 class="text-danger">ERRO 404</h1>
    <h3 class="font-italic">Parece que você se perdeu!</h3>
    <img src="../static/image/404.svg"  th:src="@{/image/404.svg}" class="img-responsive" alt="André Cordeiro" style="width:400px"/>
</div>
</body>
</html>